.absolute {
  position: absolute;
  width: 90%;
}

.align-left {
  float: left !important;
}

.avatar {
  border-radius: 50%;
  height: 70px;
}

.bold {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.black {
  color: $black;
}

.button-background-red {
  background-color: red;
}

.button-background-transparent {
  background-color: none;
}

.button-font-red {
  color: red;
  font-size: .75rem;
}

.button-font-white {
  color: $white;
  font-size: 1rem;
}

.circle {
  border-radius: 50%;
}

.container {
  margin-top: 1.5rem;
}

.custom-button {
  border: 1px solid transparent;
  padding: .25rem;
  margin-right: 1rem;
  float: right;
  outline: none;
  // transform: translate(40%, -15%);
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.cursor {
  cursor: pointer;
}

.expand {
  width: 100%;
}

.hidden {
  display: none;
}

.img-rounded {
  border-radius: 5px;
  overflow: hidden;
}

.inset {
  padding-left: 5rem;
}

.index-link {
  margin-top: 7rem;
}

.offset-right {
  font-weight: 900;
  float: right;
  border-radius: 3px;
}

.on-top {
  z-index: 3;
}

.marginalize {
  margin: 0 .7rem;
  margin-bottom: 1.5rem;
}

.no-padding {
  padding: 0;
}

.padded {
  padding-top: 1rem;
}

.rounded {
  border-radius: 5px;
}

.semi-bold {
  font-weight: 500;
}

.show {
  display: block;
}

.spaced {
  margin: .7rem 0;
}

.small-icon {
  font-size: .8rem;
}

.stylized, .button:focus {
  background-color: transparent;
  outline: none;
  color: $blue;
}

.super-tiny {
  font-size: .1rem;
}

.title {
  color: $blue
}

#uppercased {
    text-transform: uppercase;
    font-weight: 800;
}
