.avatar {
  border-radius: 50%;
  height: 70px;
}

.avatar-lg {
  border-radius: 50%;
}

.align-left {
  float: left !important;
}

.bold {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.black {
  color: $black;
}


.container {
  margin-top: 1.5rem;
}

.cursor {
  cursor: pointer;
}

.expand {
  width: 100%;
}

.hidden {
  display: none;
}

.img-rounded {
  border-radius: 5px;
  overflow: hidden;
}

.inset {
  padding-left: 5rem;
}

.index-link {
  margin-top: 7rem;
}

.offset-right {
  font-weight: 900;
  float: right;
  border-radius: 3px;
}

.on-top {
  z-index: 3;
}

.marginalize {
  margin: 0 .7rem;
  margin-bottom: 1.5rem;
}

.no-padding {
  padding: 0;
}

.padded {
  padding-top: 1rem;
}

.rounded {
  border-radius: 5px;
}

.small-icon {
  font-size: .8rem;
}

.show {
  display: block;
}

.spaced {
  margin: .7rem 0;
}

.stylized, .button:focus {
  background-color: transparent;
  outline: none;
  color: $blue;
}

.title {
  color: $blue
}

#uppercased {
    text-transform: uppercase;
    font-weight: 800;
}
