.not-found-image {
	background: url(/assets/images/not-found.png);
	background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $off-white;
}

.center-button {
	transform: translate(50%, 0);
}
