.not-found-image {
	background: url(/assets/images/not-found.png);
	background-size: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $off-white;
}

.back-button-container {
	transform: translate(0%, 50%);
}
