.campground {
  padding: 0;
  margin-bottom: 2rem;
  border: 1px solid $coolgrey;
  background: $light-grey;

  .title {
    font-size: 1.1rem;
    color: $blue;
    font-weight: 600;
    margin-top: .5rem;
  }

  .description {
    padding: 1rem;
  }

  .submitted {
    margin-right: 1rem;
    text-align: right;
  }
}

.favorites-container {
  margin-left: 2rem;
  margin-top: 1rem;
}

.title-break {
  margin: 1.2rem 10rem;
}

.margin-left {
  margin-left: 0.5rem;
}

.button.warning {
  width: 60px;
  color: white;
}

.button.warning.tiny {
  padding: 1px 5px;
  font-size: 0.9rem;
  line-height: 1.5;
  width: 30px;
}

.button.alert.tiny {
  padding: 1px 5px;
  font-size: 0.9rem;
  line-height: 1.5;
}

.input {
  overflow: hidden;
  padding-right: 0.5em;
}

.large-image-container {
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

.campground-details {
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid $coolgrey;
  background: $light-grey;

  h3, h4, p {
    color: $blue;
  }
}
