.avatar-lg {
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: .25rem;
}

.avatar-lg-padding {
  padding: 0;
  margin-right: 1rem;
}

.control-panel {
  background: $light-grey;
  border: 1px solid $coolgrey;
  padding: 1.5rem;
  margin: 10rem 0 3rem 0;
  color: $jumbtron-text-color;
}

.control-panel-title {
  padding-left: 12rem;
}

.favorite-details {
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid $coolgrey;
  background: $light-grey;

  h3, h4, p {
    color: $blue;
  }
}

// .favorite {
//   background: $dark-blue;
// }
