// Colors
$grey: #f7f7f7;
$light-grey: #eee;
$light-grey-border: #eee;
$mid-grey: #c6c6c6;
$off-white: #f9f9f9;
$dark-grey: #aaa;
$white: #fff;
$coolgrey: #d4e3f1;
$sky-blue: #2199e8;
$blue: #337ab7;
$button-blue: #1779ba;
$button-dark: #14679e;
$dark-blue: #235585;
$light-blue: #99d7ff;
$red: #700;

// Nav Colors
$nav-background: $grey;
$nav-text-color: $sky-blue;
$nav-bg-hover-color: $dark-blue;

// Background
$background-color: $white;

//Jumbotron
$jumbtron-text-color: $dark-blue;

// Images
$image-border-color: $dark-blue;
